.main-content {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
}

.video-banner {
    position: relative;
    width: 100%;
    height: auto;
}

.video-banner video {
    display: block;
    opacity: 0.9;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 600px;
}

.text-banner {
    color: white;
    font-family: "Valorant";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
}

.text-banner h3 {
    font-family: "League";
    font-size: 1.85rem;
}

.text-banner h2 {
    font-size: 6rem;
}

.play-button {
    cursor: pointer;
    margin-top: 1rem;
    background-color: #FF4654;
    display: flex;
    border-radius: .5rem;
    padding: 1rem;
}

.play-button:hover {
    transition: all .2s ease-in-out;
    background-color: #CD2E3A;
    scale: 1.1;
}

.play-button p {
    font-family: system-ui;
    font-size: 1.85rem;
    color: white;
}

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    background-color: #0E1621;
}

.about video {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 2%;
}

.about-content {
    position: relative;
    background-color: rgba(14, 22, 33, 0.5);
    width: 100%;
    padding: 1rem 0;
}

.about-text {
    color: white;
    font-size: 1.2rem;
    padding: 1.5rem 2.5rem;
    margin: 0;
}

.best-agent {
    background-color: #0E1621;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.best-agent img {
    height: 600px;
    object-fit: contain;
    max-width: 100%;
}

.agent-title {
    color: white;
    text-align: right;
    width: 55%;
}

.agent-subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.agent-text-content {
    font-size: 1.2rem;
}

@media (max-width: 992px) {
    .text-banner h2 {
        font-size: 4.8rem;
    }
    
    .text-banner h3 {
        font-size: 1.5rem;
    }
    
    .play-button p {
        font-size: 1.5rem;
    }
    
    .best-agent {
        flex-direction: column;
        padding: 2rem 1rem;
    }
    
    .best-agent img {
        height: auto;
        max-height: 500px;
        width: auto;
        margin-bottom: 2rem;
    }
    
    .agent-title {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .about-text {
        font-size: 1rem;
        padding: 1.2rem 2rem;
    }

    .video-banner video {
        height: 500px;
    }

    .text-banner h2 {
        font-size: 3.8rem;
    }
    
    .text-banner h3 {
        font-size: 1.2rem;
    }
    
    .play-button p {
        font-size: 1.2rem;
    }
    
    .about-text {
        font-size: 1rem;
        padding: 1.5rem;
    }
    
    .best-agent img {
        max-height: 400px;
        margin-bottom: 0;
    }
    
    .agent-subtitle {
        font-size: 1.3rem;
    }
    
    .agent-text-content {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .video-banner video {
        max-height: 100dvh;
        height: calc(100dvh - 80px);
    }

    .about-text {
        font-size: 0.8rem;
        padding: 1rem 1.5rem;
    }
    
    .text-banner h2 {
        font-size: 3.2rem;
    }
    
    .text-banner h3 {
        font-size: 1rem;
        text-align: center;
    }
    
    .play-button {
        padding: 0.7rem;
    }
    
    .play-button p {
        font-size: 1rem;
    }
    
    .best-agent {
        padding: 1.5rem 1rem;
    }
    
    .agent-subtitle {
        font-size: 1.2rem;
    }
    
    .agent-text-content {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .video-banner img {
        max-height: 100dvh;
        height: calc(100dvh - 80px);
    }

    .about {
        align-content: flex-start;
    }

    .about video {
        max-height: 250px;
    }

    .about-content {
        height: 100%;
        padding: 0;
    }

    .about-text {
        font-size: 0.7rem;
    }
}